body {
    font-family: 'Montaga', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa-superior {
    position: relative;
}  

.logo-inicial {
    margin-left: 15px;
    width: 10%;
    height: 10%;
}

.titulo-principal {
    padding-left: 30px;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 145px;
    font-style: italic;
}

nav {
    position: absolute;
    width: 600px;
    top: 45%;
    right: 30px;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}


nav a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.apresentacao {
    width: 940px;
    margin: 0 auto;
    padding: 30px;
}

.titulo-secundario {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;
    letter-spacing: 1px;
    clear: left;
}

.utensilios {
    width: 140px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

.apresentacao p {
    margin: 0 0 1.5em;
    padding: 0px 0;
    font-size: 18px;
    line-height: 150%;
}

.apresentacao strong {
    font-weight: bold;
}

.apresentacao em {
    font-style: italic;
    font-size: 19px;
}

.beneficios {
    background: whitesmoke;
    padding: 30px;
    font-style: italic;
    margin-bottom: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    padding-left: 10%;

}

.itens {
    font-style: italic;
    letter-spacing: 1.5pt;
    line-height: 45pt;
    font-size: 20px;
    margin: 10px 0;
}
#imgbeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding-top: 40px;
    padding-bottom: 10px;
    }

.copyright {
    display: block;
    color: white;
    margin-top: 40px;
    font-size: 15px;    
}

.mapa {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}