body {
    background:whitesmoke;
}

#banner {
    width: 100%;
}

.apresentacao {
    background: #CCCCCC ;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color:#FF0000;
} 

.beneficios {
    background: whitesmoke;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;

}

.itens {
    font-style: italic;
    letter-spacing: 1.5pt;
    line-height: 45pt;
    font-size: 18px;
}
#imgbeneficios {
    width: 50%;
}

